/* Page styles */
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    align-items: stretch;
}
body {
    background: #f3f2f1;
    flex-grow: 1;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body.right {
    align-items: flex-end;
    text-align: right;
}
body.center {
    align-items: center;
    text-align: center;
}

@media (min-width: 640px) {
    body.right {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1024px) {
    body.right {
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* General stuff */
h1 {
    font-family: arial, verdana, sans-serif;
    font-size: 28pt;
    color: #cca358;
    letter-spacing: 0.05em;

    border-bottom: #cca358 2px solid;
}

@media (min-width: 640px) {
    h1 {
        font-size: 36pt;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 48pt;
    }
}


h1 .secondary {
    color: #696766;
}


p, a, ul, dl {
    font-family: arial, verdana, sans-serif;
    color: #696766;
}

a {
    text-decoration: none;
    color: #cca358;
}

p.back {
    font-size: 10pt;
    margin-bottom: 5;
    padding: 0;
}

h1 + p.back {
    margin-top: -10pt;
}

ul, dl {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

body.right ul, body.right dl {
    align-items: flex-end;
}

ul > li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

ul.image-content > li {
    margin: 0 0.5em;
    flex-direction: row-reverse;
    margin: 0.5em 0;
}

ul.image-content > li img {
    margin-left: 0.7em;
}

ul.image-content > li p {
    margin: 0;
    flex-shrink: 1;
}

dl > dt {
    align-self: flex-start;
    margin-top: 0.7em;
    margin-bottom: 0.2em;
    text-align: left;
    font-weight: bold;
}

dl > dd {
    align-self: flex-end;
    text-align: right;
}

dl > dd > ul {
    margin: 0;
    padding: 0;
}


img, object, video, iframe, canvas {
    padding: 2pt;
    border: #7e7b79 1px dashed;
}
