/* Page styles */
html {margin:0; padding:0;
    height:100%;
}
body {
    background: #f3f2f1;
    width: 100%;
    margin: 0;
    padding: 10px 5px;
}
body.right {
    width: 80%;
    text-align: right;
}
body.right > * {
  float: right;
  clear: both;
}
body.center {
    width: 100%;
    text-align: center;
    margin:0; padding:0;
  	height:100%;
}

/* General stuff */
h1 {
    font-family: arial, verdana, sans-serif;
    font-size: 48pt;
    color: #cca358;
    letter-spacing: 0.05em;
    text-align: right;
    float: right;

    border-bottom: #cca358 2px solid;
    padding: 0;
    margin-left: 40%;
    margin-top: 30%;
    margin-bottom: 10pt;
    line-height: 45pt;
}

h1 .secondary {
    color: #696766;
}


p, a, ul, dl {
    font-family: arial, verdana, sans-serif;
    color: #696766;
}

a {
    text-decoration: none;
    color: #cca358;
}

p.back, p.back a {
    font-size:10pt;
    margin-bottom:5;
    padding:0;
}

p.back {
    color: #696766;
}

ul, dl {
    float:right;
    vertical-align: right;
    text-align: right;
    list-style-type: none;
}

dl > dt {
    text-align: left;
    font-weight: bold;
    clear:both;
}

dl > dd {
    text-align:right;
}

dl > dd img {
    margin-bottom: 10pt;
}



img, object, video, iframe, canvas {
    padding: 2pt;
    border: #7e7b79 1px dashed;
    vertical-align: middle;
}

/* Index and stuff page */
ul.index, dl.about ul {
    margin-right: 10pt;
}

ul.stuff {
    padding-bottom: 30px;
}

ul.stuff li, ul.index li {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.stuff li {
    min-height: 107px;
}

.stuff p {
    margin: 0;
}

.stuff img {
    margin-left: 10px;
    float: right;
}

/* Centering stuff */
#floater {
	position:relative; float:left;
	height:50%;	margin-bottom:-200px;
	width:1px;
}

#centered {
	position:relative; clear:left;
	height: 400px; width:400px;
	margin:0 auto;
}


/* Mobile tweaks */
@media (max-width: 600px) {
  body.right {
      width: 90%;
  }

  h1 {
    font-size: 36pt;
  }
}
